* {
  box-sizing: border-box;
}
header * {
  color: white;
}
header {
  background: gray;
}
.p-navbar-container{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.p-main-container {
  padding-left: 15px;
  padding-right: 15px;
}
.p-links {
  display: none;
  position: absolute;
  background-color: gray;
  z-index: 1;
  left: 0;
  top: 50px;
  width: 100%;
}
.p-links a {
  text-decoration: none;
}
button {
  background: transparent;
  padding: 0;
  border: 0;
}
.showing {
  display: block;
}
body {
  font-family: 'Lexend Giga', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.gitHub-img {
  width: 50px;
  height: 50px;
}
.linken-img {
  width: 50px;
  height: 50px;
}
footer {
  background: gray;
  text-align: center;
  margin-top: 100px;
}
.p-contact-info {
  color: white;
  text-decoration: none;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
}
p {
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .hamburger {
      display: none;
  }
  .p-links {
      display: inline-flex;
      position: static;
      list-style: none;
      width: auto;
      align-items: center;
  }
  .p-links li + li {
      margin-left: 20px;
  }
  .p-bio-section {
      text-align: center;
      max-width:500px;
      margin: 0 auto;
      margin-bottom:100px;
  }
  .p-portfolio-section {
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 100px;
  }
}